@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #00040f;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul > a.active {
  color: #00f6ff;
  border-bottom: 2px solid #00f6ff;
}
nav ul > a {
  position: relative;
  padding: 5px 0;
}
nav ul > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -1px;
  background: #00f6ff;
  transition: width 0.3s ease-in-out;
}
nav ul > a:not(.active):hover:after {
  width: 100%;
}
/* login and registration button  */
.button-box a button {
  height: 35px;
  position: relative;
}
.button-box a button::after {
  content: "";
  position: absolute;
  background-color: theme("colors.secondary");
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 0;
  transition: 0.3s ease-in-out;
}
.button-box a.active button {
  border: 2px solid theme("colors.secondary");
}
.button-box a button:hover::after {
  width: 100%;
}
.button-box a button span {
  z-index: 5;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.button-box a button:hover span {
  color: black;
}
.navbar {
  animation: slide-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
/* animation  */
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.sidebar {
  animation: slide-right 0.3s ease;
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:invalid[focus="true"] ~ p {
  display: block;
}
input:invalid[focus="true"] {
  border-bottom: 1px solid red;
}
input:valid[focus="true"] {
  border-bottom: 1px solid rgb(47, 255, 47);
}
